:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

body{
  background: #faf8ef;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
  color: #776e65;
  overflow: hidden; /* запрещает прокрутку страницы */
  height: 100%;
  background: grey;
}

.game{
  background: brown;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.gameField{
  background: white;
  width: 450px;
  height: 450px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
}

.scorePanel{
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.currentScore,
.maxScore{
  background: #bbada0;
  color: #fff;
  padding: 8px 16px;
  border-radius: 8px;
  min-width: 100px;
  text-align: center;
}

.gameBack{
  width: 430px;
  height: 430px;
  gap: 10px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.row{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.tile{
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: red;
  transition: all 0.4s;
}

.cell{
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background: #cdc1b4;
}

.gamePanel{
  display: flex;
  flex-direction: column;
}

.newGameBtn{
  margin-top: 20px;
  height: 50px;
  border-radius: 8px;
}

.gameTiles{
  position: absolute;
  top: 10px; 
  left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  position: absolute;
}

.tile-position-1-1 {
  left: 0;
  top: 0;
}

.tile-position-1-2{
  left: 0;
  top: 110px
}

.tile-position-2-3{
  left: 110px;
  top: 220px;
}